// Nova Tool CSS


.img-text{
    transform: scale(0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000080;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 8px;
    text-align: center;
}


button.pagination-active{
    background-color: white;
    border-radius: 50%;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: flex-start;

    .image-wrapper{
        width: 150px;
        height: 150px;
        background-size: cover;
    }

    .image-item{
        margin: 5px;
        position: relative;

        &:hover, &:active,&:focus{
            .img-text{
                transform: scale(1);
            }
        }
    }
}

